:root {
  --font-family: 'Times New Roman', Times, serif;
}

html {
  font-family: var(--font-family);
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
}

#root,
button,
input,
textarea,
select {
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
